body {
    margin: 0;
    font-family: sans-serif;
    background: #111;
    color: #fff;
}
.settings {
    height: 98%;
    margin: 0;
}
#settings {
    display: -webkit-flex;
    display: flex;
    font-size: 1.1em;
    background: rgba(0, 0, 0, 0.7);
    padding: 16px;
    border-radius: 8px;
    z-index: 10;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#hud{
    font-size: 1.1em;
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 16px;
    border-radius: 8px;
    z-index: 10;
}

#connect-btn {
    margin-bottom: 10px;
}

#pacer-speed {
    width:50px;
}

#pacer-sync-btn {
    margin-left:8px;
}

#strava-btn {
    margin-top: 10px;
}

button {
    font-size: 1em;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background: #0af;
    color: #fff;
    cursor: pointer;
}

button:disabled {
    background: #555;
}