#menuAchievementsBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    /* Background color */
    background: rgb(53, 72, 79);
    padding: 15px;
    border-radius: 30px;
    width: 250px;
    margin: 0;
    font-family: sans-serif;
    color: #fff;
    font-family: "Fugaz One", sans-serif;
    font-size: 1.5em;
}

#achievementsTable {
    position:fixed;
    top:25%;
    left:10%;
    border-collapse: collapse;
    width:75%;
    table-layout: fixed;
}

.achievementsTableSpot {
    border-color:black;
    border-width: 5px;
    border-style:solid;

}
.achievementImg {
    width:100%;
    display:block;
    
}

.achievementNotObtainedImg {
    filter:grayscale(100%);
}
.achievementName {
    left:0%;
}
.achievementsTableInnerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.achievementsTableOuterDiv {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}