

.bodyStyle {
    margin: 0;
    font-family: sans-serif;
    color: #fff;
    font-family: "Fugaz One", sans-serif;
    font-size: 1.5em;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}