body {
    margin: 0;
    font-family: sans-serif;
    color: #fff;
    font-family: "Fugaz One", sans-serif;
    font-size: 1.5em;
}
button {
    font-size: 1em;
    cursor: pointer;
}
.center-item {
    left: 40%;
}

#cancel {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    /* Background color */
    background: rgb(53, 72, 79);
    padding: 15px;
    border-radius: 30px;
    width: 250px;
}

#peerConnectMenu {
    position: fixed;
    top:43%;
    left:25%;
    /* Background color */
    background: rgb(53, 72, 79);
    padding: 15px;
    border-radius: 30px;
    width: 50%;
    height: 15%;
}